#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.forms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translate(-100px, 0px);
}
.output {
  width: 850px; /* Adjusted width for a smaller view */
  height: 1100px; /* Adjusted height */
  border: 1px solid #ccc;
  background-color: white;
  overflow-y: auto; /* Scroll if necessary, but try to avoid */
  transform: scale(1); /* Optionally scale down for a smaller feel */
  transform-origin: top left;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #ffffff 0%, #9e9e9e 100%);
}
.cont {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.items {
}
input:-webkit-autofill {
  background-color: white !important; /* Change to any desired color */
  color: black; /* Change the text color if needed */
}

input {
  width: calc(100% - 10px); /* Adjust width to account for padding/margin */
  padding: 10px;
  border: 1px solid #000000;
  background-color: white;
  color: black;
  border-radius: 4px;
}
